body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

.nav-wrapper {
  background-image: url("./assests/bg-10.jpg");
  object-fit: cover;
}
.btn--nav {
  background-color: rgba(245, 245, 245, 0.167);
  padding: 6px 10px;
  display: inline !important;
}
.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-div div {
  text-align: right;
  justify-content: end;
}
.button-div div h6 {
  color: white;
}
.button-div div h6 span {
  text-decoration: underline;
  font-weight: 600;
}
.log-in {
  background-color: rgba(255, 255, 255, 0.833) !important;
  color: black !important;
}

/* ///////// Header ////////// */
section {
  margin: 4rem;
}

.card-container {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center !important;
  align-items: center !important;
  /* justify-content: center; */
  /* align-items: center; */
}
.header {
  text-align: center;
  margin: 3rem;
}
.header h1 {
  font-weight: 400 !important;
  font-size: 3rem !important;
}
.header h1 span {
  position: relative;
  color: aliceblue;
}
.header h1 span::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(to right bottom, #0054ce, #0180b7, #009a90);
}
.card-course {
  text-align: center;
  margin: auto;
  margin-bottom: 1.5rem;
  margin-right: 0.4rem;
}
.container {
}

/* /////FOOTER /////////// */

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  position: relative;
}

.copyright-area {
  background: linear-gradient(105deg, #0054ce, #0180b7, #009a90);
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}
.copyright-text p a {
  color: #ffd500;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ffd500;
}
.footer-menu li a {
  font-size: 14px;
  color: #ffffff;
}

@media only screen and (max-width: 500px) {
  .mx-4 {
    margin-right: 0% !important ;
    margin-left: 0.5rem !important;
  }
  .card-container {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
  .card {
    width: 20rem !important;
  }
  .section {
    margin: 0 !important;
  }
  .card-course {
    margin: auto;
  }
  /* .card-course {
    margin-right: 0% !important;
  } */
}

@media only screen and (max-width: 1000px) and (min-width: 500px) {
  .card-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .card {
    width: 20rem !important;
  }
}
